<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 指定数据库连接信息的位置 -->
    <properties resource="WEB-INF/config/jdbc.properties"></properties>
    <!--类型别名，默认引入milCheck.user.pojo下的所有类 -->
    <typeAliases>
        <package name="milCheck.user.pojo"/>
    </typeAliases>

    <!-- development:开发模式     work:工作模式 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="milCheck/user/dao/UserMapper.xml"/>
    </mappers>

</configuration>